* {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#image {
    max-width: 700px;
    max-height: auto;
    margin: auto;
    display: block;
}

p {
    font-size: 20px;
}

#img-caption {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 50px;
}

#title {
    margin-bottom: 50px;
}