* {
    font-family: 'Courier New', Courier, monospace;
}

#title {
    margin: 30px auto;
}

#title, #img-caption {
    text-align: center;
}

#image {
    max-width: 100%;
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
}

p {
    font-size: 20px;
}

#img-caption {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 30px;
}

#tribute-info {
    margin: 30px;
}
