* {
    font-family: 'Courier New', Courier, monospace;
}

#title {
    margin-bottom: 30px;
}

#title, #img-caption {
    text-align: center;
}

#image {
    min-width: 60vw;
    max-width: 100%;
    width: 60vw;
    height: auto;
    margin: auto;
    display: block;
}

p {
    font-size: 20px;
}

#img-caption {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 30px;
}

#tribute-info {
    margin: 20px;
}